.distortion-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.distortion-container canvas {
  display: block;
  touch-action: none;
}

